.header {
    height: var(--header-height);
    text-align: center;
    vertical-align: middle;
    background-color: var( --pokemon-blue-text );
    width: 100%;
    position: fixed;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    justify-self: center;
    font-size: 5vw;
    text-shadow: -3px 0 var(--pokemon-blue-text), 0 3px var(--pokemon-blue-text), 3px 0 var(--pokemon-blue-text), 0 -3px var(--pokemon-blue-text);
    color: var(--pokemon-yellow-text);
    flex: 1;
}

.button {
    all: unset;
    cursor: pointer;
}

.buttonIcon {
    width: 20px;
    height: 20px;
}