.header {
    min-height: var(--header-height);
    background-color: antiquewhite;
    text-align: center;
    vertical-align: middle;
    padding: 0 1em;
    position: sticky;
    top: 0px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    font-size: 5vw;
    text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
    color: yellow;
    flex: 1;
}

.button {
    all: unset;
    cursor: pointer;
}

.buttonIcon {
    width: 20px;
    height: 20px;
}

.logo {
    justify-self: center;
}

.realBody {
    min-height: 100%;
}

@media screen and (min-width: 1025px) {

    .realBody {
        margin-left: var(--nav-aside-width);
    }

}