.realBody {
    margin-top: var(--header-height);
    height: calc( 100dvh - ( var(--header-height) ) );
    overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
    
    .realBody {
        margin-left: var(--nav-aside-width);
    }

}