.consolaFont {
    font-family: "Lucida Console", "Courier New", monospace;
}
/* From WSchools */
.card {
    --shadow-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

/* Add rounded corners to the top left and the top right corner of the image */
.img {
    width: 150px;
    border-radius: 5px 5px 0 0;
    height: 150px;
}

.textContainer {
    /* padding: .5em 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.name {
    text-shadow: -3px 0 var(--pokemon-blue-text), 0 3px var(--pokemon-blue-text), 3px 0 var(--pokemon-blue-text), 0 -3px var(--pokemon-blue-text);
    color: var(--pokemon-yellow-text);
    flex: 1;
    text-decoration: underline black;
}

.typesContainer {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    flex-wrap: wrap;
}