.nav {
    position: fixed;
    top: var(--header-height);
}

.linksList {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
    background-color: var(--pokemon-blue);
    width: 100dvw;
    text-align: center;
}

.linksList.linksListShowed {
    max-height: 200px; /* Número random mayor al tamaño real que ocuparía la navegación */
}

.linksItem {
    padding: .5rem;
}

@media screen and (min-width: 1024px) {
    
    .nav {
        display: flex;
        height: calc( 100% - var(--header-height) );
        width: var(--nav-aside-width);
    }

    .linksList {
        width: 100%;
        max-height: 100%;
    }
    
}